<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Massif</title>

    <meta charset="UTF-8">

    <!-- Metadata -->
    <meta name="author" content="Léo DEVILLE">
    <meta name="creator" content="Léo DEVILLE">
    <meta name="description" content="A lightweight, modular and powerful PHP framework.">
    <meta name="publisher" content="Léo DEVILLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('main.css') }}">

    <!-- JS -->
    <!-- <script type="module" src="{{ asset('main.js') }}" async></script> -->
  </head>
  <body>
    <main>
      <h1>Hello World!</h1>

      <p>Welcome to my <a href="{{ path('homepage') }}">website</a>!</p>
    </main>
  </body>
</html>
